nav{
    width: 100%;
    min-height: 6vh;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgb(63, 63, 63);
}

nav.navbar-default{
    background-color: rgb(194, 194, 194);
}

nav.navbar-primary{
    background-color: green;
    color: white;
}

nav.navbar-secondary{
    background-color: blue;
    color: white;
}

nav.navbar-dark{
    background-color: black;
    color: white;
}

nav.navbar-pink{
    background-color: pink;
    color: black;
}

nav.navbar-light{
    background-color: rgb(190, 235, 241);
    color: black;
}

.container{
    margin-left: 8vh;
    margin-right: 8vh;
}

div.brand-name{
    font-family: monospace;
    font-size: 4vh;
    
}

div.align-right{
    float: right;
}

