/* initial height width setup of sidebar */
.sidebar{
  height: 100vh;
  box-shadow: 0 0 2px 0px  rgb(63, 63, 63);
  float: left;
  font-size: 1.5vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidebar-right{
  height: 100vh;
  box-shadow: 0 0 2px 0  rgb(63, 63, 63);
  float: right;
  font-size: 1.5vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidebar a {
    display: block;
    background-color: inherit;
    padding: 15px;
    width: auto;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
}

.sidebar-right a {
  display: block;
  background-color: inherit;
  padding: 15px;
  width: auto;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar :hover{
  background-color: rgb(212, 212, 211);
}

.sidebar-right :hover{
  background-color: rgb(212, 212, 211);
}

.sidebar :active{
  background-color: rgb(143, 143, 145);
}

.sidebar-right :active{
  background-color: rgb(143, 143, 145);
}

a{
  text-decoration: none;
  color: inherit;
}

/* creating the different width sidebars */
.wd-x{
  width: 10vw;
}

.wd-2x{
  width: 15vw;
}

.wd-3x{
  width: 20vw;
}

.bg-dark{
  background-color: black;
  color: white;
}

.bg-normal{
  background-color: rgb(177, 177, 174);
  color: black;
}


