.ui-button {
    margin: 15px;
    font-weight: 600;
    padding: 10px 30px;
    cursor: pointer;
}

.radius-r{
    border-radius: 10px;
}

.radius-2r{
    border-radius: 15px;
}

.radius-3r{
    border-radius: 25px;
}

.button-menue{
    margin: 20px 18%;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(48, 47, 47);
    height: auto;
    padding: 20px;
}
.red-basic-button {
    background-color: red;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(187, 3, 3);
    }
}

.orange-basic-button {
    background-color: rgb(255, 165, 0);
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(201, 133, 8);
    }
}

.yellow-basic-button {
    background-color: yellow;
    color: black;
    cursor: pointer;
    &:hover{
        background-color: rgb(190, 190, 4);
    }
}

.blue-basic-button{
    background-color: blue;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(3, 62, 151);
    }
}

.pink-basic-button{
    background-color: pink;
    color: black;
    cursor: pointer;
    &:hover{
        background-color: rgb(243, 160, 174);
    }  
}

.coral-basic-button{
    background-color: coral ;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(228, 103, 58);
    } 
}

.violet-basic-button
{
    background-color: violet ;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(207, 87, 207);
    }  
}

.teal-basic-button
{
    background-color: teal ;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(3, 85, 85);
    }  
}

.purple-basic-button
{
    background-color: rgb(160, 21, 160) ;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(124, 14, 124);
    }  
}

.green-basic-button
{
    background-color: green;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(2, 92, 2);
    }  
}

.greenyellow-basic-button
{
    background-color: greenyellow;
    color: black;
    cursor: pointer;
    &:hover{
        background-color: rgb(132, 209, 15);
    }  
}

.grey-basic-button
{
    background-color: grey;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(92, 90, 90);
    }  
}

.black-basic-button
{
    background-color: black;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(46, 45, 45);
    }  
}

.brown-basic-button
{
    background-color: brown;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(139, 20, 20);
    }  
}

.red-inverted-button{
    border: 2px solid red;
    background-color: transparent;
    color: red;
    &:hover{
        background-color: red;
        color: white;
    }
}

.green-inverted-button{
    border: 2px solid green;
    background-color: transparent;
    color: green;
    &:hover{
        background-color: green;
        color: white;
    }
}

.orange-inverted-button{
    border: 2px solid orange;
    background-color: transparent;
    color: orange;
    &:hover{
        background-color: orange;
        color: white;
    }
}

.yellow-inverted-button{
    border: 2px solid yellow;
    background-color: transparent;
    color: yellow;
    &:hover{
        background-color: yellow;
        color: black;
    }
}

.blue-inverted-button{
    border: 2px solid blue;
    background-color: transparent;
    color: blue;
    &:hover{
        background-color: blue;
        color: white;
    }
}

.pink-inverted-button{
    border: 2px solid pink;
    background-color: transparent;
    color: pink;
    &:hover{
        background-color: pink;
        color: black;
    }
}

.pink-inverted-button{
    border: 2px solid pink;
    background-color: transparent;
    color: pink;
    &:hover{
        background-color: pink;
        color: black;
    }
}

.violet-inverted-button{
    border: 2px solid violet;
    background-color: transparent;
    color: violet;
    &:hover{
        background-color: violet;
        color: white;
    }
}

.teal-inverted-button{
    border: 2px solid teal;
    background-color: transparent;
    color: teal;
    &:hover{
        background-color: teal;
        color: white;
    }
}

.purple-inverted-button{
    border: 2px solid purple;
    background-color: transparent;
    color: purple;
    &:hover{
        background-color: purple;
        color: white;
    }
}

.greenyellow-inverted-button{
    border: 2px solid greenyellow;
    background-color: transparent;
    color: greenyellow;
    &:hover{
        background-color: greenyellow;
        color: black;
    }
}

.grey-inverted-button{
    border: 2px solid grey;
    background-color: transparent;
    color: grey;
    &:hover{
        background-color: grey;
        color: white;
    }
}

.black-inverted-button{
    border: 2px solid black;
    background-color: transparent;
    color: black;
    &:hover{
        background-color: black;
        color: white;
    }
}

.brown-inverted-button{
    border: 2px solid brown;
    background-color: transparent;
    color: brown;
    &:hover{
        background-color: brown;
        color: white;
    }
}

.red-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid red;
        color: red;
    }
}

.green-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid green;
        color: green;
    }
}

.orange-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid orange;
        color: orange;
    }
}

.yellow-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid yellow;
        color: yellow;
    }
}

.green-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid green;
        color: green;
    }
}

.green-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid green;
        color: green;
    }
}

.blue-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid blue;
        color: blue;
    }
}

.pink-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid pink;
        color: pink;
    }
}

.violet-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid violet;
        color: violet;
    }
}

.teal-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid teal;
        color: teal;
    }
}

.purple-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid purple;
        color: purple;
    }
}

.greenyellow-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid greenyellow;
        color: greenyellow;
    }
}

.grey-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid grey;
        color: grey;
    }
}

.black-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid black;
        color: black;
    }
}

.brown-inverted-basic-button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover{
        border: 2px solid brown;
        color: brown;
    }
}

.hover-effect1:hover{
    transition: 0.8s ease-out;
    font-size: 16px;
}

.hover-effect2:hover{
    box-shadow: 0 0 5px solid black;
    font-weight: 800;
    transition: 2s;
}

.red-button{
    background-color: transparent;
    color: red;
    border: 2px solid red;
    &:hover{
        color: rgb(189, 5, 5);
        border: 2px solid rgb(177, 2, 2);
    }
}

.orange-button{
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
    &:hover{
        color: rgb(207, 136, 4);
        border: 2px solid rgb(204, 134, 4);
    }
}

.green-button{
    background-color: transparent;
    color: green;
    border: 2px solid green;
    &:hover{
        color: rgb(2, 99, 2);
        border: 2px solid rgb(1, 97, 1);
    }
}

.yellow-button{
    background-color: transparent;
    color: yellow;
    border: 2px solid yellow;
    &:hover{
        color: rgb(196, 196, 4);
        border: 2px solid rgb(173, 173, 2);
    }
}

.blue-button{
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
    &:hover{
        color: rgb(6, 6, 190);
        border: 2px solid rgb(4, 4, 187);
    }
}

.pink-button{
    background-color: transparent;
    color: pink;
    border: 2px solid pink;
    &:hover{
        color: rgb(231, 171, 181);
        border: 2px solid rgb(231, 165, 176);
    }
}

.violet-button{
    background-color: transparent;
    color: violet;
    border: 2px solid violet;
    &:hover{
        color: rgb(231, 145, 159);
        border: 2px solid rgb(231, 151, 164);
    }
}

.teal-button{
    background-color: transparent;
    color: teal;
    border: 2px solid teal;
    &:hover{
        color: rgb(1, 100, 100);
        border: 2px solid rgb(1, 104, 104);
    }
}

.purple-button{
    background-color: transparent;
    color: purple;
    border: 2px solid purple;
    &:hover{
        color: rgb(94, 2, 94);
        border: 2px solid rgb(90, 1, 90);
    }
}

.greenyellow-button{
    background-color: transparent;
    color: greenyellow;
    border: 2px solid greenyellow;
    &:hover{
        color: rgb(140, 218, 25);
        border: 2px solid rgb(140, 219, 21);
    }
}

.grey-button{
    background-color: transparent;
    color: grey;
    border: 2px solid grey;
    &:hover{
        color: rgb(99, 96, 96);
        border: 2px solid rgb(109, 107, 107);
    }
}

.black-button{
    background-color: transparent;
    color: rgb(32, 32, 32);
    border: 2px solid rgb(29, 29, 29);
    &:hover{
        color: black;
        border: 2px solid black;
    }
}

.brown-button{
    background-color: transparent;
    color: brown;
    border: 2px solid brown;
    &:hover{
        color: rgb(156, 30, 30);
        border: 2px solid rgb(165, 33, 33);
    }
}

.facebook-button{
    background-color: rgb(67, 22, 231);
    color: white;
}

.twitter-button{
    background-color: rgb(38, 172, 235);
    color: white;
}

.youtube-button{
    background-color: red;
    color: white;
}

.insta-button{
    background-color: orange;
    color: white;
}

.small {
    width: auto;
}

.medium {
    width: 200px;
}

.large {
    width: 400px;
}

.full-width {
   width: 90%;
   height: 50px;
}


