@mixin sidebar {
    height: 100vh;
    width: auto;
    padding: 20px;
    display: grid;
    float: left;
    position: relative;
}

@mixin sidebar-large {
    height: 100vh;
    width: 350px;
    display: flex;
    float: left;
}

@mixin sidebar-input {
    margin: 30px 10px;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px solid;
}

@mixin sidebar-link-style {
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3pt;
    a {
        text-decoration: none;   
    }
}
