.spinner-1 {
  width: 200px;
  height: 200px;
}

.spinner-1 svg {
  overflow: visible;
  -webkit-animation: rotation 2455ms infinite linear;
          animation: rotation 2455ms infinite linear;
}

.smm {
  width: 10%;
  height: 10%;
}

.sm {
  width: 20%;
  height: 20%;
}

.md {
  width: 40%;
  height: 40%;
}

.mdd {
  width: 60%;
  height: 60%;
}

.lg {
  width: 80%;
  height: 80%;
}

.lgg {
  width: 100%;
  height: 100%;
}

.spinner-1 circle {
  stroke: currentColor;
  stroke-dasharray: 44px;
  stroke-dashoffset: 11px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotatey(180deg) rotate(90deg);
          transform: rotatey(180deg) rotate(90deg);
  -webkit-animation: spinner 3850ms infinite ease;
          animation: spinner 3850ms infinite ease;
}

@-webkit-keyframes spinner-1 {
  0% {
    stroke-dashoffset: 33px;
    -webkit-transform: rotatey(0deg) rotate(0deg);
            transform: rotatey(0deg) rotate(0deg);
  }
  25% {
    stroke-dashoffset: 11px;
    -webkit-transform: rotatey(0deg) rotate(0deg);
            transform: rotatey(0deg) rotate(0deg);
  }
  25.0001% {
    stroke-dashoffset: 11px;
    -webkit-transform: rotatey(180deg) rotate(270deg);
            transform: rotatey(180deg) rotate(270deg);
  }
  50% {
    stroke-dashoffset: 33px;
    -webkit-transform: rotatey(180deg) rotate(270deg);
            transform: rotatey(180deg) rotate(270deg);
  }
  50.0001% {
    stroke-dashoffset: 33px;
    -webkit-transform: rotatey(0deg) rotate(180deg);
            transform: rotatey(0deg) rotate(180deg);
  }
  75% {
    stroke-dashoffset: 11px;
    -webkit-transform: rotatey(0deg) rotate(180deg);
            transform: rotatey(0deg) rotate(180deg);
  }
  75.0001% {
    stroke-dashoffset: 11px;
    -webkit-transform: rotatey(180deg) rotate(90deg);
            transform: rotatey(180deg) rotate(90deg);
  }
  100% {
    stroke-dashoffset: 33px;
    -webkit-transform: rotatey(180deg) rotate(90deg);
            transform: rotatey(180deg) rotate(90deg);
  }
}

@keyframes spinner-1 {
  0% {
    stroke-dashoffset: 33px;
    -webkit-transform: rotatey(0deg) rotate(0deg);
            transform: rotatey(0deg) rotate(0deg);
  }
  25% {
    stroke-dashoffset: 11px;
    -webkit-transform: rotatey(0deg) rotate(0deg);
            transform: rotatey(0deg) rotate(0deg);
  }
  25.0001% {
    stroke-dashoffset: 11px;
    -webkit-transform: rotatey(180deg) rotate(270deg);
            transform: rotatey(180deg) rotate(270deg);
  }
  50% {
    stroke-dashoffset: 33px;
    -webkit-transform: rotatey(180deg) rotate(270deg);
            transform: rotatey(180deg) rotate(270deg);
  }
  50.0001% {
    stroke-dashoffset: 33px;
    -webkit-transform: rotatey(0deg) rotate(180deg);
            transform: rotatey(0deg) rotate(180deg);
  }
  75% {
    stroke-dashoffset: 11px;
    -webkit-transform: rotatey(0deg) rotate(180deg);
            transform: rotatey(0deg) rotate(180deg);
  }
  75.0001% {
    stroke-dashoffset: 11px;
    -webkit-transform: rotatey(180deg) rotate(90deg);
            transform: rotatey(180deg) rotate(90deg);
  }
  100% {
    stroke-dashoffset: 33px;
    -webkit-transform: rotatey(180deg) rotate(90deg);
            transform: rotatey(180deg) rotate(90deg);
  }
}

@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Template CSS */
.red {
  color: red;
}

.orange {
  color: orange;
}

.black {
  color: black;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.pink {
  color: pink;
}

.purple {
  color: purple;
}

.grey {
  color: grey;
}
/*# sourceMappingURL=main.css.map */