.static-alert {
  margin: 30px;
  width: auto;
  padding: 0 20px;
}

.primary {
  border-radius: 5px;
  padding: 20px;
  background-color: #8c8cf0;
  color: #353434;
  font-weight: 500;
  letter-spacing: 1pt;
}

.secondary {
  border-radius: 5px;
  padding: 20px;
  background-color: #aa54aa;
  color: #353434;
  font-weight: 500;
  letter-spacing: 1pt;
}

.success {
  border-radius: 5px;
  padding: 20px;
  background-color: #68d168;
  color: #353434;
  font-weight: 500;
  letter-spacing: 1pt;
}

.danger {
  border-radius: 5px;
  padding: 20px;
  background-color: #f93154;
  color: #353434;
  font-weight: 500;
  letter-spacing: 1pt;
}

.warning {
  border-radius: 5px;
  padding: 20px;
  background-color: #f0f083;
  color: #353434;
  font-weight: 500;
  letter-spacing: 1pt;
}

.info {
  border-radius: 5px;
  padding: 20px;
  background-color: #39c0ed;
  color: #353434;
  font-weight: 500;
  letter-spacing: 1pt;
}

.light {
  border-radius: 5px;
  padding: 20px;
  background-color: #eee8e8;
  color: #353434;
  font-weight: 500;
  letter-spacing: 1pt;
}

.dark {
  border-radius: 5px;
  padding: 20px;
  background-color: #797676;
  color: #353434;
  font-weight: 500;
  letter-spacing: 1pt;
}

.large-alert {
  margin: 30px;
  padding: 0 20px;
  height: auto;
  width: auto;
}

.large-success {
  padding: 20px;
  background-color: #75db75;
  border-radius: 5px;
  color: #0a550a;
  letter-spacing: 1pt;
}

.devider {
  padding: 10px 0;
  border-bottom: 2px solid #212921;
}

.large-failure {
  padding: 20px;
  background-color: #c44f4f;
  border-radius: 5px;
  color: #8b0d0d;
  letter-spacing: 1pt;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.style-alert {
  width: 100%;
  padding: 10px;
  background: white;
  border-top: 4px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 5px;
  border-style: solid;
  -webkit-box-shadow: 0px 0px 17px #0000000d;
          box-shadow: 0px 0px 17px #0000000d;
  border-color: #0072ff;
}

.style-alert-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.style-alert-number {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0072ff;
  color: white;
  border-radius: 9999px;
  position: relative;
  width: 25px !important;
  height: 25px !important;
  margin-right: 12px;
  display: table;
  text-align: center;
  line-height: 1.6;
}

.style-alert-content {
  width: 100%;
}

.style-alert-title {
  font-size: 20px;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.style-alert-main {
  ont-size: 16px;
  line-height: 1.5;
}

.style-alert.style-info {
  border-color: #0072ff;
}

.style-alert.style-info .style-alert-number {
  background: #0072ff;
}

.style-alert.style-danger {
  border-color: #fd000a;
}

.style-alert.style-danger .style-alert-number {
  background: #fd000a;
}

.style-alert.style-warning {
  border-color: #ffbe00;
}

.style-alert.style-warning .style-alert-number {
  background: #ffbe00;
}

.style-alert.style-successful {
  border-color: #00b943;
}

.style-alert.style-successful .style-alert-number {
  background: #00b943;
}
/*# sourceMappingURL=main.css.map */