$primary: blue;
$secondary: grey;
$success: green;
$warning: yellow;
$danger: red;

$mobile: 800px;

// hover colors

$hover-background-color1: rgb(102, 100, 100);
$hover-text-color1: rgb(54, 208, 247);
$hover-background-color2: rgb(1, 100, 1);
$hover-text-color2: rgb(247, 131, 54);
$hover-text-color3: blue;
$hover-text-color3: green;