@import './NavigationStyles';
@import './configure';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-type1{
    position: relative;
    top: 15px;
    border-radius: 15px;
    height: 30px;
    padding: 20px
}

.input-type2{
    position: relative;
    top: 15px;
    border-radius: 15px;
    height: 30px;
    width: 500px;
    padding: 20px
}

//navbar styles

.nav-style1{
    @include nav-style1;
}

.nav-style2{
    @include nav-style2;
}

.nav-style3{
    @include nav-style3;
}

.nav-style4{
    @include nav-style4;
}


// navbar colors

.nav-grey{
    @include nav-background-color-grey;
}

.nav-green{
    @include nav-background-color-green;
}

.nav-black{
    @include nav-background-color-black;
}

.nav-purple{
    @include nav-background-color-purple;
}

.nav-orange{
    @include nav-background-color-orange
}

.nav-peru{
    @include nav-background-color-peru
}

.divider{
    border-bottom: 2px solid white;
}

//Navigation bar logo

nav .logo{
    color: white;
    letter-spacing: 3pt;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
}

// nav link adjustment
nav .navlink{
    display: flex;
    justify-content: space-around;
}

nav li{
    list-style-type: none;
    padding: 25px;
}

// hover background color 

.hover-color1-bg{
    &:hover{
        background-color: $hover-background-color1;
    }
}

.hover-color2-bg{
    &:hover{
        background-color: $hover-background-color2;
    }
}


// hover text color

.hover-color1-txt{
    a:hover{
        color: $hover-text-color1;
        transition: 0.5s;
        font-weight: 800;
    }
}

.hover-color2-txt{
    a:hover{
        color: red;
        transition: 0.5s;
        font-weight: 800;
    }
}

.hover-color3-txt{
    a:hover{
        color: green;
        transition: 0.5s;
        font-weight: 800;
    }
}

.hover-color4-txt{
    a:hover{
        color: orange;
        transition: 0.5s;
        font-weight: 800;
    }
}

.hover-color5-txt{
    a:hover{
        color: purple;
        transition: 0.5s;
        font-weight: 800;
    }
}

.hover-color6-txt{
    a:hover{
        color: white;
        transition: 0.5s;
        font-weight: 800;
    }
}

.hover-color7-txt{
    a:hover{
        color: orangered;
        transition: 0.5s;
        font-weight: 800;
    }
}

.hover-color8-txt{
    a:hover{
        color: pink;
        transition: 0.5s;
        font-weight: 800;
    }
}


nav a{
    text-decoration: none;
    letter-spacing: 3pt;
}

// link color
.white-color{
    color: white;
}

.red-color{
    color: red;
}

.pink-color{
    color: pink;
}

.purple-color{
    color: purple;
}

.orange-color{
    color: orange;
}

.blue-color{
    color: blue;
}

.yellow-color{
    color: yellow;
}

.olive-color{
    color: olive;
}

.green-color{
    color: green;
}

.black-color{
    color: black;
}

.grey-color{
    color: grey;
}

.teal-color{
    color: teal;
}

.tomato-color{
    color: tomato;
}

.wheat-color{
    color: wheat;
}

.cyan-color{
    color: cyan;
}

// mobile 

.burger{
    display: none;
    cursor: pointer;
    margin: 12px 0;
}

.burger div{
    width: 25px;
    background-color: white;
    height: 3px;
    margin: 5px;
}

.mobile-view{
    body{
        display: none;
    }    
}


@media screen and (max-width:$mobile) {
    body{
        overflow-x: hidden;
    }
    .navlink{
        width: 100%;
        position: absolute;
        top: 10%;
        justify-content: space-around;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
    }

    .navlink li{
        opacity: 0;
    }

    .active, .navlink li{
        transform: translateX(0);
        opacity: 1;
        transition: 0.5s ease-in-out;

    }

    .burger{
        display: block;
        padding: 5px;
        font-size: 20px;
    }
    .right{
        margin-left: 50%;
    }
}
