@import './NavigationStyles';
@import './configure';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//navbar styles

.nav-style1{
    @include nav-style1;
}

.nav-style2{
    @include nav-style2;
}

.nav-style3{
    @include nav-style3;
}

.nav-style4{
    @include nav-style4;
}


// navbar colors

.nav-grey{
    @include nav-background-color-grey;
}

.nav-green{
    @include nav-background-color-green;
}

.nav-black{
    @include nav-background-color-black;
}

//Navigation bar logo

nav .logo{
    color: white;
    letter-spacing: 3pt;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
}

// nav link adjustment
nav .navlink{
    display: flex;
    justify-content: space-around;
}

nav li{
    list-style-type: none;
    padding: 25px;
}

// hover background color 

.hover-color1-bg{
    &:hover{
        background-color: $hover-background-color1;
    }
}

.hover-color2-bg{
    &:hover{
        background-color: $hover-background-color2;
    }
}


// hover text color

.hover-color1-txt{
    a:hover{
        color: $hover-text-color1;
    }
}


nav a{
    text-decoration: none;
    letter-spacing: 3pt;
}

// link color
.white-color{
    color: white;
}

.red-color{
    color: red;
}

.pink-color{
    color: pink;
}

.purple-color{
    color: purple;
}

.orange-color{
    color: orange;
}

.blue-color{
    color: blue;
}

.yellow-color{
    color: yellow;
}

.olive-color{
    color: olive;
}

.green-color{
    color: green;
}

.black-color{
    color: black;
}

.grey-color{
    color: grey;
}

.teal-color{
    color: teal;
}

.tomato-color{
    color: tomato;
}

.wheat-color{
    color: wheat;
}

.cyan-color{
    color: cyan;
}

// mobile 

.burger{
    display: none;
    cursor: pointer;
    margin: 12px 0;
}

.burger div{
    width: 25px;
    background-color: white;
    height: 3px;
    margin: 5px;
}

@media screen and (max-width:$mobile) {
    body{
        overflow-x: hidden;
    }
    .navlink{
        width: 200px;
        position: absolute;
        right: 0;
        height: 88vh;
        top: 10vh;
        background-color: $secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
    }
    .navlink li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
    .right{
        margin-left: 50%;
    }
}
